<div class="container">
  <div id="scene" >
    <img class="layer" src="assets/images/landing/ndr_background_only.jpg" alt="background_image">
    <img data-depth="0.1" class="layer" src="assets/images/landing/ndr_background_foreground.png" alt="background_image">
  </div>
</div>
<ndr-navbar [isGallery]="isGallery" (scrollAbout)="onNavbarButtonClick()"></ndr-navbar>

<div class="flex justify-center items-center h-[98vh]">
  <div class="pb-52">
    <p class="text-[15vw] text-white italic select-none ">Welcome !</p>
  </div>
</div>
<div #about id="about"></div>
<ndr-about></ndr-about>
