<img src="https://res.cloudinary.com/ds45ddzu6/image/upload/v1699782173/samples/ndr-ingame/landing_page/Horizon_LandingPage.jpg" alt="background image" class="absolute h-[98vh] w-full object-cover z-[-2] select-none">
<ndr-navbar [isGallery]="isGallery" (scrollAbout)="onNavbarButtonClick()"></ndr-navbar>

<div class="flex justify-center items-center h-[98vh]">
  <div class="pb-52">
    <p class="text-[15vw] text-white italic select-none ">Welcome !</p>
  </div>
</div>
<div #about id="about"></div>
<ndr-about></ndr-about>
