<div class="border-2 border-gray-400 h-[20rem] p-4 border-b-0 border-r-0 border-l-0 items-center pb-96 sm:pb-32">


  <div class="flex justify-center">
    <img src="assets/images/NeroEmpty.png" alt="ndr ingame logo" width="200rem" class="select-none hover:cursor-pointer">
  </div>
  <div class="flex items-center justify-center pt-10 lg:pl-20 sm: lg:gap-x-96 flex-wrap">


    <div class="flex flex-col gap-y-1.5 items-center sm:items-end">
      <a href="https://www.linkedin.com/in/andrea-di-claudio-119810276/" target="_blank" rel="noopener noreferrer" class="underline hover:cursor-pointer w-16">LinkedIn</a>
      <a href="https://www.instagram.com/ndr.ingame/" target="_blank" rel="noopener noreferrer" class="underline hover:cursor-pointer w-20 ">Instagram</a>
      <p class="underline hover:cursor-pointer w-44">andreadicla@gmail.com</p>
    </div>

    <div class="flex justify-center items-center pt-4 sm:top-0">
      <img src="assets/images/language.svg" width="90rem">
      <div class="flex flex-col">
        <p>English / Italian</p>
        <p>Denmark,</p>
        <p>55,65948° N, 12,61126° E</p>
      </div>
    </div>
  </div>

  <div class="flex justify-center pt-10 sm:pb-2 pb-9">
    <p class="font-light text-gray-400 select-none">© 2023 / Andrea Di Claudio </p>
  </div>

</div>
