<div>

  <div class="relative top-40 w-[50vw] left-16 z-10
  sm:left-16
  md:pb-8
  xl:left-0 xl:px-10">

    <div id="thisDiv" class="absolute px-6 border-2 border-black bg-white h-[50vh]
    xl:absolute xl:w-[35vw] xl:h-[35vw] xl:left-16">
      <p class=" text-[6rem] font-bold md:text-[8rem]">About</p>
      <p class="text-[1.5rem]">This will be the description This will be the description This will be the description This will be the description This will be the description</p>

      <div class="pt-3">
        <button [routerLink]="['/gallery']" class="border-2 border-black p-2 select-none">See Gallery</button>
      </div>

    </div>
  </div>

  <div class="xl:pl-40 xl:pr-16">
    <img src="https://res.cloudinary.com/ds45ddzu6/image/upload/v1699801049/samples/ndr-ingame/about/rdr_about.jpg" alt="background image" class="select-none relative z-0 h-[85vh] object-cover xl:w-full ">
  </div>

</div>
